* {
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
  width: 100px;
  height: 100px;
}

/* селектор класса */
.container {
  width: 100%;
  background-color: aqua;
  border: 1px solid black;
  display: flex;
  /* расстояние между flex-элементами */
  gap: 15px;
  /* упорядочивание элементов по оси */
  justify-content: space-around;
}

.flex-1 {
  background-color: #c2f5ff;
}

.flex-2 {
  background-color: #ffd7d6;
}

.flex-3 {
  background-color: #ebebeb;
}

.flex-4 {
  background-color: #ffe4c2;
}

.flex-5 {
  background-color: #c7ffdd;
}